*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  border: 2px solid rgba(0, 0, 0, 0.426);
  width: 290px;
  margin-top: 10px;
  border-radius: 45px;
}
